.bill4PayButton {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  /* width: 100%; */
  min-width: 200px;
  padding: 12px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
  border-radius: 8px;
  background-color: #000000;
  cursor: pointer;
}

.bill4PayButton:hover {
  background-color: #3c4043;
}

.bill4PayButton span {
  display: inline-block;
  height: 32px;
  padding-left: 40px;
}

.bill4PayButton-bitcoin span,
.bill4PayButton-ethereum span {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 32px;
}

.bill4Pay * {
  box-sizing: border-box;
}

.bill4Pay:not(.active) {
  display: none;
  opacity: 0;
}

.bill4Pay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
}

.bill4Pay .bill4Pay-dialog {
  position: relative;
  width: 100%;
  max-width: 550px;
  margin: 40px auto 28px;
  padding: 30px;
  text-align: center;
  color: #000000;
  border-radius: 8px;
  background-color: #fff;
}

.bill4Pay .bill4Pay-close {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.66675 8.66675L23.3334 23.3334' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23.3334 8.66675L8.66675 23.3334' stroke='%23172A3A' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
}

.bill4Pay-row {
  margin-bottom: 32px;
}

.bill4Pay .bill4Pay-currency {
  height: 48px;
  margin-bottom: 30px;
  background-position: center top;
  background-repeat: no-repeat;
}

.bill4Pay .bill4Pay-currency.ethereum,
.bill4PayButton-ethereum span {
  background-image: url("../img/ethereum.svg");
}

.bill4Pay .bill4Pay-currency.bitcoin,
.bill4PayButton-bitcoin span {
  background-image: url("../img/bitcoin.svg");
}

.bill4Pay .bill4Pay-counter__progress {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #F2F2F2;
}

.bill4Pay .bill4Pay-counter__progress span {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  background-color: #FD5353;
}

.bill4Pay .bill4Pay-counter__text {
  padding-top: 6px;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
}

.bill4Pay .bill4Pay-counter__text.expired {
  color: #F64740;
}

.bill4Pay .bill4Pay-counter__time {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 400;
  color: #F64740;
}

.bill4Pay .bill4Pay-link__value {
  margin-bottom: 13px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.167;
  font-weight: 700;
  color: #000000;
  word-break: break-all;
  border-radius: 2px;
  background-color: #EDEDED;
  transition: background-color 0.2s ease-in-out;
}

.bill4Pay .bill4Pay-link__value.copied {
  background-color: #b7b7b7;
}

.bill4Pay .bill4Pay-link__clipboard span {
  padding: 2px 0 2px 28px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #1A181B;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg width='17' height='22' viewBox='0 0 17 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.5 9.49998V19.5C16.5 20.6 15.6 21.5 14.5 21.5H6.5C5.4 21.5 4.5 20.6 4.5 19.5L4.5 6.49998C4.5 5.39998 5.4 4.49998 6.5 4.49998L11.5 4.49998L16.5 9.49998Z' stroke='%231A181B' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.5 2.5C11.5 1.4 10.6 0.5 9.5 0.5L2.5 0.5C1.4 0.5 0.5 1.4 0.5 2.5L0.5 15.5C0.5 16.6 1.4 17.5 2.5 17.5' stroke='%231A181B' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.5 9.49998H12.5C11.95 9.49998 11.5 9.04998 11.5 8.49998V4.49998' stroke='%231A181B' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") left center no-repeat;
}

.bill4Pay .bill4Pay-button__pay {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  padding: 17px;
  font-size: 18px;
  line-height: 1.223;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  background-color: #000000;
  cursor: pointer;
}

.bill4Pay .bill4Pay-success {
  padding-bottom: 30px;
}

.bill4Pay .bill4Pay-success h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}

.bill4Pay .bill4Pay-success p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
}

.bill4Pay .bill4Pay-button__pay.bill4Pay-button__close {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.modal-open {
  opacity: 0;
  -webkit-animation: fadeIn 0.3s ease-in 1 forwards;
  animation:fadeIn 0.3s ease-in 1 forwards;
}

.overflow-hidden {
  overflow: hidden;
}

@-webkit-keyframes fadeIn {
  to { 
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 550px) {
  .bill4Pay .bill4Pay-dialog {
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
  }

  .bill4Pay .bill4Pay-close {
    right: 18px;
    top: 18px;
  }

  .bill4Pay .bill4Pay-dialog.bill4Pay-dialog-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bill4Pay .bill4Pay-dialog.bill4Pay-dialog-success .bill4Pay-button {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 30px);
  }
}
